@font-face {
	font-family: 'poppinsmedium';
	src: url('./fonts/poppins-medium-webfont.woff2') format('woff2'),
		url('./fonts/poppins-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@property --value {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}

:root {
	--bgColor: #fefefe;
	--bgToggle: #dee6ef;
	--bgProgress: #eef3f6;
	--active: #005cfe;
}

html {
	font-size: clamp(12px, 1.5vw, 24px);
}

.progress {
	width: 14rem;    
    height: 14rem;
    min-width: 160px;
    min-height: 160px;
	border-radius: 50%;
	background-image:
		radial-gradient(circle closest-side,
			var(--bgColor) 0% 85%,
			transparent 85% 100%),
		conic-gradient(var(--active) 0% var(--value),
			var(--bgProgress) var(--value) 100%);
	transition: --value 0.4s ease-in-out, opacity 0.2s ease, visibility 0.2s ease;
}

.progress--hidden {
	opacity: 0;
	visibility: hidden;
}

.progress--animated {
	animation: spin 5s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

body {
	margin: 0;
	padding: 2rem;
	height: 100vh;
	box-sizing: border-box;
	background-color: var(--bgColor);
	font-family: 'poppinsmedium', sans-serif;
	display: grid;
	grid-template-rows: auto 1fr 1fr;
	place-items: center;
}

.app__title {
	justify-self: start;
	align-self: start;
	margin: 0;
	font-size: 1.8rem;
	font-weight: 500;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
    margin-bottom: 5rem;
}

.control {
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
	user-select: none;
}
.control__input {
    width: 4rem;
    height: 2.5rem;
    border: 0.09rem solid #000;
    border-radius: 1.25rem;
    text-align: center;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.control__toggle {
    position: relative;
    width: 4rem;
    height: 2.5rem;
    background-color: var(--bgToggle);
    border-radius: 1.25rem;
    transition: 0.3s;
}

.control__toggle::after {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.control__checkbox:checked + .control__toggle::after {
    transform: translateX(1.5rem);
}

.control__input::-webkit-outer-spin-button,
.control__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.control__input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.control__checkbox {
	display: none;
}

.control__checkbox:checked+.control__toggle {
	background-color: var(--active);
}

.control__label {
	font-size: 1.4rem;
}

@media (orientation: landscape) {
	body {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"title title"
			"progress controls";
	}

	.app__title {
		grid-area: title;
	}

	.progress {
		grid-area: progress;
		justify-self: center;
	}

	.controls {
		grid-area: controls;
		margin-bottom: 0;
		align-self: center;
		justify-self: center;
	}
}